<mat-toolbar color="primary">
    <span>AppUsers</span>
    <span class="example-spacer"></span>
    <button mat-button (click)= "switchToDashboard()">Dashboard</button>
    <button mat-button (click)= "switchToScores()" *ngIf= "tipo == 'Student'">Scores</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Log out">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
