table {
    width: 100%;
    margin-top: 10px;
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.average{
    margin-top: 15px;
}

.totalValue{
    font-size: 30px;
    color: blue;
}

.user{
    font-size: 15px;
    color: gray;
}